body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    background-color: #03e7fc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #03b5fc;
}

input[type="text"], input[type="password"] {
    padding: 8px;
    margin: 5px 0;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.homepage_container_div {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: #b0b0b0;
    justify-content: space-evenly, flex-start;
}

.homepage_content_div {
    width: 45%;
    height: 600px;
    min-width: 300px;
    padding: 10px;
    margin: 8px;
    border-radius: 4px;
    background-color: #dcdcdc;
}

.db_container_div {
    display: flex;
    flex-wrap: wrap;
    background-color: #b0b0b0;
    justify-content: space-evenly, flex-start;
}

.db_entry_div {
    width: 30%;
    min-width: 200px;
    padding: 10px;
    margin: 8px;
    border-radius: 4px;
    background-color: #dcdcdc;
}
